.container {
  width: 70%;
  margin: auto;
  text-align: center;
  }
@keyframes blinker {
  from { opacity: 1.0; }
  50% { opacity: 0.5; }
  to { opacity: 1.0; }
}


.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #47284e;
 
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #ccbf4e;
  border-color: #232931;
}
h2{
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 4px 3px #271c4e;
  font-size: 3rem;
  color: #ccbf4e;
  border-color: #232931;
}
p {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: 0 0 4px #821212, 0 0 5px #6969e5;
  

}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
